@widthAll: 1366px;
@colorLightGray: #c7c7c7;
@colorLightLightGray: #f5f5f5;
@colorGray: #8c8c8c;
@colorDarkGray: #6c6c6c;
@colorBlack: #212121;
@colorGreen: #43a047;
@colorWhite: #ffffff;
@colorRed: #e53935;
@colorBlue: #1e88e5;
@name: {
  color: @colorBlack;
  font-size: 3.9em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: -0.07em;
};

* {
  margin: 0;
  padding: 0;
}

.clear-fix::after {
  content: "";
  display: table;
  clear: both;
}

.padding-site {
  padding-left: 98px;
  padding-right: 98px;
}

.conteiner {
  width: @widthAll;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

/* ------ SLIDER ------*/

.slider {
  height: 800px;
  /*background-image: url(img/slider/slider-img.jpg);*/
  position: relative;
}

#carouselExampleIndicators {
  position: absolute;
  height: 800px;
  width: 1366px;
  margin-left: -98px;
}

.carousel-item {
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-indicators {
  display: flex;
  align-items: center;
}

.carousel-indicators li {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: @colorLightGray;
  border-radius: 50%;
}

.carousel-indicators .active {
  opacity: @colorBlack;
  width: 40px;
  height: 40px;
  background-color: @colorBlack;
  margin-bottom: -2.5px;
}

.header {
  padding-top: 63px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 1366px;
  padding-right: 196px;
}

@media screen and (max-width: 1200px) {
  .header {
    padding-top: 63px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    padding-right: 196px;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    padding-top: 63px;
    position: absolute;
    display: grid;
    width: 500px;
  }
}

.menu {
  float: right;
  padding-right: 67px;
}

@media screen and (min-width: 1000px) {
  .menu-list,
  .featured-content-list {
    list-style-type: none;
    float: left;
  }
}

.menu-list,
.featured-content-list {
  list-style-type: none;
}

.menu-link {
  color: @colorGray;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-decoration: none;
  padding: 5px 13px;
}

.menu-link:hover {
  color: @colorBlack;
  text-decoration: none;
}

.menu-link-active {
  color: @colorBlack;
  font-weight: 700;
  letter-spacing: 1.4px;
  border-bottom: 3px solid @colorBlack;
}

.slider-text {
  margin-top: 368px;
  position: absolute;
}

.slider-trending {
  color: @colorGreen;
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.11em;
  margin-bottom: 0;
}

.slider-h2 {
  color: @colorBlack;
  font-size: 3.9em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: -0.07em;
}

.slider-content {
  color: @colorGray;
  font-size: 0.88em;
  font-weight: 300;
  line-height: 1.8em;
  width: 458px;
  margin-top: 10px;
  margin-bottom: 30px;
  letter-spacing: -0.014em;
}
.button {
  color: @colorBlack;
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  border-radius: 23px;
  background-color: @colorWhite;
  display: inline-block;
  width: 212px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.button img {
  margin-left: 8px;
}

.button:hover {
  text-decoration: none;
  color: @colorBlack;
  transform: scale(1.2);
}

/* ------ FEATURED ------*/

.featured {
  padding-top: 100px;
  background-color: @colorWhite;
  position: relative;
}

.featured-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-top: 10px;
}

@media screen and (max-width: 1300px) {
  .featured-title {
    width: 500px;
  }
}

.featured-control {
  color: @colorDarkGray;
  font-size: 36px;
  font-weight: 700;
  border-bottom: 1px solid @colorDarkGray;
}

.featured-control-active {
  float: left;
  color: @colorBlack;
  font-size: 36px;
  font-weight: 700;
  border-bottom: 3px solid @colorBlack;
  padding-bottom: 10px;
}

.btn-ghost {
  color: @colorBlack;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-top: 10px;
}

.btn-ghost:hover {
  text-decoration: none;
  color: @colorBlack;
  transform: scale(1.2);
}

.featured-content-main {
  width: 1170px;
}

.featured-content-list,
.featured-content-activeate {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  width: 100%;
}

.featured ul {
  padding-inline-start: 0px;
}

@media screen and (max-width: 1300px) {
  .featured-content-list,
  .featured-content-activeate {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    width: 75%;
    overflow: hidden;
  }
}

@media screen and (max-width: 1000px) {
  .featured-content-list,
  .featured-content-activeate {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    width: 50%;
    overflow: hidden;
  }
}

.featured-content-act {
  position: absolute;
  display: flex;
  width: inherit;
}

.featured-content-active {
  width: 269px;
  height: 269px;
  border: 1px solid @colorGray;
  background-color: @colorWhite;
  opacity: 0.9;
  float: right;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.featured-content-active:hover {
  opacity: 0.8;
}

.icon-hover {
  width: 48px;
  height: 48px;
  margin-bottom: 15px;
}

.icon-hover img {
  height: 20px;
  margin: 5px 0 0 2px;
}

.featured-content-active-block {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.featured-content-active-h4 {
  color: @colorBlack;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 15px;
  letter-spacing: -0.5px;
}

.featured-content-active-content {
  color: @colorDarkGray;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  width: 216px;
  height: 42px;
  overflow: hidden;
  letter-spacing: -0.17px;
}

/* ------ PROMO ------ */

.promo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-top: 105px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .promo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 105px;
    position: relative;
  }
}

.promo-pict1 {
  background-image: url(img/promo_product/promo-img1.jpg);
  height: 683px;
  width: 683px;
}

.promo-pict2 {
  background-image: url(img/promo_product/promo-img.jpg);
  height: 683px;
  width: 683px;
}

.promo-text,
.exclusive-text {
  padding-left: 50px;
  padding-top: 228px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 633px;
}

.promo-tag,
.exclusive-tag,
.mobile-tag {
  color: @colorBlue;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 18px;
  margin-bottom: 0em;
}

.name {
  color: @colorBlack;
  font-size: 36px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1.25px;
  margin-bottom: 0em;
}

.promo-content,
.exclusive-content {
  color: @colorDarkGray;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  width: 340px;
  height: 36px;
  overflow: hidden;
  letter-spacing: -0.15px;
  margin-bottom: 37px;
}

/* ------ TRENDING ------*/

.trending {
  position: relative;
  background-color: white;
}

.trending-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-top: 110px;
}

@media screen and (max-width: 1200px) {
  .trending-title {
    width: 550px;
  }
}

.trending-control {
  color: @colorDarkGray;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1.25px;
  width: 335px;
}

.trending-albom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 30px;
  width: 1170px;
  height: 770px;
  overflow: hidden;
  margin-top: 58px;
}

@media screen and (max-width: 1200px) {
  .trending-albom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    overflow: hidden;
    width: 1170px * 0.666;
  }
}

.trending-image {
  height: 370px;
  width: 370px;
}

/* ------ HOT DEAL ------*/

.hotDeal {
  width: 1170px;
  height: 800px;
  margin-top: 118px;
}

.hotDeal-text {
  padding-top: 283px;
  position: absolute;
}

.hotDeal-tag {
  color: @colorRed;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.hotDeal-name,
.mobile-name {
  color: @colorBlack;
  font-size: 3.8em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: -0.06em;
}

.hotDeal-text p {
  color: @colorDarkGray;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  width: 458px;
  height: 45px;
  overflow: hidden;
  letter-spacing: -0.18px;
  padding: 15px 0 30px 0;
  margin-top: -10px;
  margin-bottom: 0;
  box-sizing: content-box;
}

/* ------ EXCLUSIVE ------*/

.exclusive {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  align-content: center;
}

@media screen and (max-width: 1000px) {
  .exclusive {
    height: 1000px;
    background-color: @colorWhite;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    align-content: center;
  }

  .exclusive-albom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    width: 570px;
    height: 570px;
    overflow: hidden;
  }
}

.exclusive-main {
  width: 570px;
  height: 570px;
  background-image: url(img/exclusive_product/product-1-lg.jpg);
  margin-top: 120px;
}

.exclusive-text {
  margin-left: -20px;
  margin-top: -43px;
}

.exclusive-albom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 30px;
  width: 570px;
  height: 570px;
  overflow: hidden;
  margin-top: 120px;
}

@media screen and (max-width: 1300px) and (min-width: 1000px) {
  .exclusive-albom {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    width: 570px/2;
    height: 570px;
    overflow: hidden;
  }
}

@media screen and (max-width: 1000px) {
  .exclusive-albom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    width: 570px;
    height: 570px/2;
    overflow: hidden;
    margin-top: 0px;
  }
}

.exclusive-image {
  width: 270px;
  height: 270px;
}

/* ------ MOBILE ------ */

.mobile {
  height: 516px;
  background-image: url(img/mobile_app/back-img.jpg);
margin-top: 120px;
}

.mobile-text {
  padding-top: 125px;
}

.mobile-tag {
  color: @colorDarkGray;
}

.mobile-name {
  font-size: 59px;
  width: 500px;
  height: 133px;
  overflow: hidden;
  line-height: 74px;
  letter-spacing: -2px;
}

.mobile-details {
  color: @colorDarkGray;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: -0.35px;
  width: 415px;
  height: 25px;
  overflow: hidden;
  margin-top: 20px;
}

.mobile-store {
  margin-top: 37px;
}

.mobile-store img {
  margin-right: 7px;
}


/* ------ FOOTER ------ */

.footer {
  background-color: #f7f7f7;
  box-sizing: content-box;
}

.footer-columns {
  display: grid;
  grid-template-columns: 19% 36% 32%;
  column-gap: 80px;
  padding-top: 114px
}

@media screen and (max-width: 1200px) {
  .footer-columns {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 40px;
    padding-top: 114px
  }
}


.footer-name {
  color: @colorDarkGray;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.footer-contacts-text {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 221px;
  overflow: hidden;
  padding-top: 13px;
}

.footer-contacts-text p {
  color: @colorBlack;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.25px;
  line-height: 23px;
}

.footer-useful {
  width: 420px;
}

.footer-useful-text-col1,
.footer-useful-text-col2 {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding-top: 14px;
}

.footer-useful-text-col1 p,
.footer-useful-text-col2 p {
  margin-bottom: 0.3rem;
}

.footer-useful-text p {
  color: @colorBlack;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}

.footer-useful-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}

.footer-letsStay-text {
  color: @colorBlack;
  font-size: 14px;
  font-weight: 300;
  padding-top: 13px;
  letter-spacing: -0.2px;
  line-height: 23px;
  margin-bottom: 20px;
}

.pict {
  position: absolute;
}

.footer-input {
  width: 365px;
  height: 46px;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  color: @colorDarkGray;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: -0.05em;
}

.footer-form > .pict {
  margin-left: 330px;
  padding-top: 12px;
}

.footer-botton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 52px;
  padding-bottom: 30px;
}

@media screen and (max-width: 1200px) {
  .footer-botton {
    display: flex;
    flex-flow: column;
    margin-top: 52px;
    padding-bottom: 30px;
    width: fit-content;
  }
}

.footer-copyrite,
.footer-terms {
  color: @colorDarkGray;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.footer-social {
  margin-left: -20px;
}

.footer-form {
  position: relative;
}

/*  ------ PRODUCT PAGE -------*/

.product-head {
  height: 360px;
  background-color: @colorLightLightGray;
  position: relative;
}

.product-head_text {
  padding-top: 245px;
}

.product-head_h2 {
  color: @colorBlack;
  font-size: 62px;
  font-weight: 100;
  letter-spacing: -2px;
}

.product_menu {
  float: left;
  padding-right: 67px;
  height: 75px;
  margin-top: 65px;
}

.product_menu-list {
  list-style-type: none;
  float: left;
}

.product_menu-link {
  color: @colorDarkGray;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
}

.product_menu-link:hover {
  color: @colorBlack;
  text-decoration: none;
}

.product_menu-link-active {
  color: @colorBlack;
  font-weight: 700;
  letter-spacing: 1.4px;
  border-bottom: 4px solid @colorBlack;
}



.albom {
  width: fit-content;
}

.product-albom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 30px;
  width: fit-content;
  overflow: hidden;
  margin-top: 58px;
  box-sizing: content-box;
}

@media screen and (max-width: 1200px) {
  .product-albom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    width: fit-content;
    overflow: hidden;
    margin-top: 58px;
    box-sizing: content-box;
  }
}

.product-image {
  height: 370px;
  width: 370px;
}

.rownd-rows {
  display: grid;
  padding-top: 71px;
  justify-content: center;
}

.product-promo {
  margin-top: 140px;
}

.product-pict1 {
  background-image: url(img/promo_product/promo-img1.jpg);
  height: 683px;
  width: 683px;
}

.product-pict2 {
  background-image: url(img/promo_product/promo-img.jpg);
  height: 683px;
  width: 683px;
}
